<h2>Bruins vs. Black Hawks</h2>

<div class="row">
	<div class="span6">
		<table class="table table-bordered" id="banter">
			<tr>
				<td>
					<h3>
						BANTR
					</h3>
				</td>
			</tr>
		</table>
	</br>
		<%= render 'shared/new_micropost' %>
		<div id="bantr_feed">
			<table class="table">
			<%= render @microposts %>
			<tr>
			</tr>
			</table>
		</div>
	</div>

	<div class="span6">
		<table class="table table-bordered" id="score">
			<tr>
				<td>
				<h3>
					SCORES
				</h3>
				</td>
			</tr>
		</table>
		<%= player_exist %>
		<div id="score_feed">
		<table class="table table-bordered">
		<%= render @players %>
		</table>
		</div>
	</div>
</div>