<li>
	<table id="user_table" class="table table-bordered">
	<tr>
        <th rowspan="2" style="width:50px; height:30px;"><%= image_tag user.avatar_url.to_s, :id => 'profile' %></th>
		<th>Name:</th>
        <th>Email:</th>
        <% if current_user.admin? && !current_user?(user) %>
        <th>Delete Account:</th>
        <% end %>
	</tr>
	<tr>
    	<th><%= link_to full_name(user), user %></th>
        <td>
            <%= user.email %>
        </td>
        <% if current_user.admin? && !current_user?(user) %>
        <td> <%= link_to "delete", user, method: :delete, data: { confirm: "you sure?" } %></td>
        <% end %>
    </tr>
    </table>
</li>