	<tr>
         <th rowspan="2" style="width:80px; height:30px;"><div id="bantr_profile"><%= image_tag micropost.user.avatar_url.to_s, :id => 'bantr_profile_pic' %></div>
         </th>
	</tr>
	<tr>
        <td>
        	<b><%= micropost.user.first_name %> <%= micropost.user.last_name %></b>

        </br>

        	<%= micropost.content %>
        </td>
    </tr>

