/* This is only for the Home Page */

/* Home Page Center Canvas */
div#home_page {
			margin-left:10%;
			margin-top:50px;
}

div#vertical_line {
			border-left: 2px solid black;
}

p#line_height {height:140px;}


#softgrey {opacity:0.6;}

/* Left Side */

h4#pys_text {
			font-size:15px;
			padding-top:10px;
}

h4#tyf_text {
			font-size:15px;
			padding-top:20px;
}

h4#cyp_text {
			font-size:15px;
			padding-top:20px;
}

/* Right Side */

h1#wtpg_text {
			font-size:30px;
}






